Using VADER

In [48]:
import re
import nltk 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import pandas as pd

In [49]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Asif
[nltk_data]     Sayyed\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [50]:
df = pd.read_csv(r'..\data\preprocessed_amazon_review.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   overall         9000 non-null   float64
 1   verified        9000 non-null   bool
 2   reviewTime      9000 non-null   object
 3   reviewerID      9000 non-null   object
 4   asin            9000 non-null   object
 5   style           5414 non-null   object
 6   reviewerName    8995 non-null   object
 7   reviewText      8999 non-null   object
 8   summary         9000 non-null   object
 9   unixReviewTime  9000 non-null   int64
 10  vote            1713 non-null   float64
 11  image           188 non-null    object
 12  cleaned_review  8998 non-null   object
 13  tokens          9000 non-null   object
 14  stemmed_tokens  9000 non-null   object
 15  lemmas          9000 non-null   object
dtypes: bool(1), float64(2), int64(1), object(12)
memory usage: 1.0+ MB

In [51]:
df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,cleaned_review,tokens,stemmed_tokens,lemmas
0,1.0,True,"12 12, 2017",A20AKRG3V2B372,B00RN08584,"{'Color:': ' Black', 'Style:': ' Printer'}",MOMTO3BOYS,miserable set up. made me want to put my fist ...,stay away,1513036800,NaN,NaN,miserable set up made me want to put my fist i...,"['miserable', 'set', 'up', 'made', 'me', 'want...","['miser', 'set', 'up', 'made', 'me', 'want', '...","['miserable', 'set', 'up', 'make', 'want', 'pu..."
1,1.0,False,"08 27, 2009",A7FWSCI4QP3J4,B001VEJ23A,NaN,J. Hurley,The only thing you are paying for is the Dell ...,Buyer Beware: This will clean out your bank ac...,1251331200,8.0,NaN,the only thing you are paying for is the dell ...,"['the', 'only', 'thing', 'you', 'are', 'paying...","['the', 'onli', 'thing', 'you', 'are', 'pay', ...","['only', 'thing', 'be', 'pay', 'be', 'dell', '..."
2,1.0,True,"03 27, 2015",A1LWZUTY6B5DWS,B0006VQBTW,NaN,Hazel Smith,Most of these markers dried out within the fir...,Dried out very quickly,1427414400,NaN,NaN,most of these markers dried out within the fir...,"['most', 'of', 'these', 'markers', 'dried', 'o...","['most', 'of', 'these', 'marker', 'dri', 'out'...","['most', 'marker', 'dry', 'first', 'week', 'no..."
3,1.0,True,"07 6, 2017",A3E1IXJ949VL29,B007ADJQBE,"{'Size:': ' 46 x 60 Inches', 'Style:': ' Recta...",JCR,Only measures 58x46 instead of 60x46. I see a...,Smaller than advertised.,1499299200,2.0,NaN,only measures 58x46 instead of 60x46 i see a ...,"['only', 'measures', '58x46', 'instead', 'of',...","['onli', 'measur', '58x46', 'instead', 'of', '...","['only', 'measure', 'instead', 'i', 'see', 'fe..."
4,1.0,False,"06 9, 2011",A3H7NPNDMGLOU4,B006K0OCUI,"{'Size:': ' 2-Count', 'Color:': ' Black'}",OK,I'll agree the ink itself is exceptionally smo...,I Wanted to Like This Pen,1307577600,NaN,NaN,ill agree the ink itself is exceptionally smoo...,"['ill', 'agree', 'the', 'ink', 'itself', 'is',...","['ill', 'agre', 'the', 'ink', 'itself', 'is', ...","['ill', 'agree', 'ink', 'be', 'exceptionally',..."

In [52]:
sia = SentimentIntensityAnalyzer()

In [53]:
def clean_text(text):
    if text is None:
        text = ''
    # Remove non-textual characters
    pattern = re.compile(r'[^\w\s]')
    cleaned_text = pattern.sub('', str(text))
    return cleaned_text

def get_sentiment_scores(text):
    cleaned_text = clean_text(text)
    return sia.polarity_scores(cleaned_text)

In [54]:
df['sentiment_scores'] = df['reviewText'].apply(get_sentiment_scores)

In [ ]:
df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,cleaned_review,tokens,stemmed_tokens,lemmas,sentiment_scores
0,1.0,True,"12 12, 2017",A20AKRG3V2B372,B00RN08584,"{'Color:': ' Black', 'Style:': ' Printer'}",MOMTO3BOYS,miserable set up. made me want to put my fist ...,stay away,1513036800,NaN,NaN,miserable set up made me want to put my fist i...,"['miserable', 'set', 'up', 'made', 'me', 'want...","['miser', 'set', 'up', 'made', 'me', 'want', '...","['miserable', 'set', 'up', 'make', 'want', 'pu...","{'neg': 0.151, 'neu': 0.66, 'pos': 0.189, 'com..."
1,1.0,False,"08 27, 2009",A7FWSCI4QP3J4,B001VEJ23A,NaN,J. Hurley,The only thing you are paying for is the Dell ...,Buyer Beware: This will clean out your bank ac...,1251331200,8.0,NaN,the only thing you are paying for is the dell ...,"['the', 'only', 'thing', 'you', 'are', 'paying...","['the', 'onli', 'thing', 'you', 'are', 'pay', ...","['only', 'thing', 'be', 'pay', 'be', 'dell', '...","{'neg': 0.061, 'neu': 0.922, 'pos': 0.018, 'co..."
2,1.0,True,"03 27, 2015",A1LWZUTY6B5DWS,B0006VQBTW,NaN,Hazel Smith,Most of these markers dried out within the fir...,Dried out very quickly,1427414400,NaN,NaN,most of these markers dried out within the fir...,"['most', 'of', 'these', 'markers', 'dried', 'o...","['most', 'of', 'these', 'marker', 'dri', 'out'...","['most', 'marker', 'dry', 'first', 'week', 'no...","{'neg': 0.156, 'neu': 0.844, 'pos': 0.0, 'comp..."
3,1.0,True,"07 6, 2017",A3E1IXJ949VL29,B007ADJQBE,"{'Size:': ' 46 x 60 Inches', 'Style:': ' Recta...",JCR,Only measures 58x46 instead of 60x46. I see a...,Smaller than advertised.,1499299200,2.0,NaN,only measures 58x46 instead of 60x46 i see a ...,"['only', 'measures', '58x46', 'instead', 'of',...","['onli', 'measur', '58x46', 'instead', 'of', '...","['only', 'measure', 'instead', 'i', 'see', 'fe...","{'neg': 0.104, 'neu': 0.896, 'pos': 0.0, 'comp..."
4,1.0,False,"06 9, 2011",A3H7NPNDMGLOU4,B006K0OCUI,"{'Size:': ' 2-Count', 'Color:': ' Black'}",OK,I'll agree the ink itself is exceptionally smo...,I Wanted to Like This Pen,1307577600,NaN,NaN,ill agree the ink itself is exceptionally smoo...,"['ill', 'agree', 'the', 'ink', 'itself', 'is',...","['ill', 'agre', 'the', 'ink', 'itself', 'is', ...","['ill', 'agree', 'ink', 'be', 'exceptionally',...","{'neg': 0.152, 'neu': 0.804, 'pos': 0.044, 'co..."

In [44]:
sentiment_df = pd.json_normalize(df['sentiment_scores'])
sentiment_df

        neg    neu    pos  compound
0     0.151  0.660  0.189   -0.0516
1     0.061  0.922  0.018   -0.6486
2     0.156  0.844  0.000   -0.3412
3     0.104  0.896  0.000   -0.3252
4     0.152  0.804  0.044   -0.9455
...     ...    ...    ...       ...
8995  0.000  1.000  0.000    0.0000
8996  0.000  0.000  1.000    0.4404
8997  0.000  0.204  0.796    0.5994
8998  0.000  0.855  0.145    0.8750
8999  0.000  1.000  0.000    0.0000

[9000 rows x 4 columns]

In [45]:
df = pd.concat([df,sentiment_df])
df.drop(columns=['sentiment_scores'], inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18000 entries, 0 to 8999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   overall         9000 non-null   float64
 1   verified        9000 non-null   object
 2   reviewTime      9000 non-null   object
 3   reviewerID      9000 non-null   object
 4   asin            9000 non-null   object
 5   style           5414 non-null   object
 6   reviewerName    8995 non-null   object
 7   reviewText      8999 non-null   object
 8   summary         9000 non-null   object
 9   unixReviewTime  9000 non-null   float64
 10  vote            1713 non-null   float64
 11  image           188 non-null    object
 12  cleaned_review  8998 non-null   object
 13  tokens          9000 non-null   object
 14  stemmed_tokens  9000 non-null   object
 15  lemmas          9000 non-null   object
 16  neg             9000 non-null   float64
 17  neu             9000 non-null   float64
 18  pos             9000 non-null   float64
 19  compound        9000 non-null   float64
dtypes: float64(7), object(13)
memory usage: 2.9+ MB

In [47]:
df[['cleaned_review', 'neg', 'neu','pos','compound']].sample(5)

,cleaned_review,neg,neu,pos,compound
5093,its kinda hard for me to rate these i bought t...,NaN,NaN,NaN,NaN
6246,NaN,0.089,0.726,0.185,0.9821
128,NaN,0.069,0.863,0.069,0.4601
2144,NaN,0.217,0.783,0.000,-0.5740
5104,NaN,0.083,0.794,0.123,0.5095